
\.idea/

*.iml

src/main/resources/META-INF/persistence\.xml

*.class

angular/package-lock\.json

angular/package\.json

target/classes/META-INF/

target/maven-status/maven-compiler-plugin/compile/default-compile/

target/classes/log4j\.properties

target/classes/log4j2\.properties

target/test-classes/log4j\.properties
