.card-columns {
  min-height: 100vh;
  margin: 1.2rem 1.2rem 0 1.2rem;
}

.card-columns .card {
  width: 90%;
  margin: 5%;
  border: 3px solid #d0312e;
  background-color: #39455d;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

a.card  {
  text-decoration: none;
  transition: transform ease-in-out 0.2s, filter ease-in-out 0.2s;
}

a.card:hover {
  transform: scale(1.05);
}

/*a.card:hover {*/
  /*transform: scale(10);*/
  /*filter: brightness(0);*/
/*}*/

.product-name {
  text-align: center;
  font-family: 'Chango', cursive;
  font-size: larger;
  padding: 15px 0 15px;
  color: #fddc3f;
  text-shadow: #000000 0 0 4px, #000000 0 0 6px;
}

img.product-picture {
  width: 100%;
}

.product-description {
  font-size: larger;
  text-align: justify;
  margin: 10px;
  color: white;
}

.product-price {
  font-size: smaller;
  color: white;
  padding: 5px 10px 5px;
  background-color: #d0312e;
  text-align: right;
  font-family: 'Chango', cursive;
}
