<div class="form-container" (click)="onClick($event)">
  <div class="form">
    <a class="cancel" (click)="cancel()"><i class="fas fa-times"></i></a>
    <div class="title">Sign up</div>
    <label id="name">Name:
      <input [(ngModel)]="user.name" placeholder="Walter White" (blur)="onBlur($event)">
    </label>
    <label id="email">Email:
      <input [(ngModel)]="user.email" placeholder="walterwhite@bluemeth.com" (blur)="onBlur($event)">
    </label>
    <label id="password">Password:
      <input [(ngModel)]="user.password" placeholder="Blu3meth123" (blur)="onBlur($event)" type="password">
    </label>
    <label id="country">Country:
      <input [(ngModel)]="user.country" placeholder="New Mexico" (blur)="onBlur($event)">
    </label>
    <label id="zipcode">Zip code:
      <input [(ngModel)]="user.zipcode" placeholder="87101" (blur)="onBlur($event)">
    </label>
    <label id="city">City:
      <input [(ngModel)]="user.city" placeholder="Albuquerque" (blur)="onBlur($event)">
    </label>
    <label id="addr">Address:
      <input [(ngModel)]="user.addr" placeholder="4th Los Ranchos ST" (blur)="onBlur($event)">
    </label>
    <button (click)="register()"><span>Register</span></button>
  </div>
</div>
