.header {
  top: 0;
  position: fixed;
  z-index: 2 !Important;
  height: 140px;
  width: 100%;
  background-color: black;
  transition: ease-in-out top 0.2s;
}

.arrow {
  text-align: center;
  position: absolute;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  transition: opacity ease-in-out 0.1s;
  top: 101px;
  z-index: 1;
  font-size: xx-large;
}

.arrow:hover {
  color: white;
  text-shadow: black 0 0 6px;
}

.hide {
  opacity: 0;
}

.header.hide-header{
  top: -110px;
}

img.logo.hide-img {
  opacity: 0;
}

img.logo {
  position: absolute;
  left: 50%;
  z-index: 1 !Important;
  width: 150px;
  display: block;
  margin-left: -75px;/* half of the width*/
  transition: opacity ease-in-out 0.1s;
}

.header-border {
  background: url("../../assets/header-border.jpg");
  background-size: contain;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.spacer {
  height: 140px;
}


.wrapper {
  position: absolute;
  top: 0;
  width: 42%;
  height: 110px;
}

.left-wrapper {
  left: 0;
}

.right-wrapper {
  right: 0;
}

.col {
  text-align: center;
  margin: auto;
}

.col a {
  text-decoration: none;
  color: white;
  font-family: 'Chango', cursive;
  font-size: large;
  transition: color ease-in-out 0.1s, text-shadow ease-in-out 0.1s;
}

.col a:hover {
  color: #fddc3f;
  text-shadow: #d0312e 0 0 6px, #d0312e 0 0 10px, #d0312e 0 0 14px;
}

.col a i {
  margin-right: 10px;
}

#categories {
  position: absolute;
  top: 150px;
  width: 100vw;
  min-height: 50px;
  background-color: #fddc3f;
}

